Repository Logarithm-Labs/go-hyperliquid, pull requests merged in 2025-01, with the labels that each got.

#7 Add spot trading support
  hyperliquid/api.go
  hyperliquid/client.go
  hyperliquid/consts.go
  hyperliquid/convert.go
  hyperliquid/exchange_service.go
  hyperliquid/exchange_test.go
  hyperliquid/exchange_types.go
  hyperliquid/go.mod
  hyperliquid/go.sum
  hyperliquid/info_service.go
  hyperliquid/info_test.go
  hyperliquid/info_types.go
Labels: info, spot, exchange

#12 Exchange API: Added bulk modify orders
  hyperliquid/convert.go
  hyperliquid/exchange_service.go
  hyperliquid/exchange_types.go
Labels: exchange

#15 Patch ModifyOrderRequestToWire
  hyperliquid/convert.go
  hyperliquid/exchange_service.go
  hyperliquid/exchange_test.go
Labels: bug
